@import "tailwindcss";



img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  }

/*  */

.mobileColumn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-start: auto;
  grid-column-start: auto;
  gap: 20px
  
}

.doubleGold {
  border: 10px double #b9a976c9;
  border-radius:  2% / 5% ;
}

h1 {
  font-size: 38px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color:#0c0e0a;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #0c0e0a;
}

h3 {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-bottom: 1px solid rgba(12, 103, 62, 0.536);
  font-size: 20px;
  color: #DAD3BE;
}


p {
  font-family: Garamond;
}

.mainReelVid {
  width: 50%;
  max-height: 50%;
}


#wormLanding {
  transition: 1000ms;

}

.welcomeLogo {
  justify-content: center;
}

#goButton {
  color: white;
  background-color: rgb(50, 90, 46);
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  transition: 300ms;
}

#goButton > p {
  font-size: 64px;
  font-family: WormHole;
  background-color: inherit;
  transition: inherit;
}


#goButton:hover{
  background-color: rgb(11, 58, 6);
  
}



@media only screen and (max-width: 1024px) {
  .doubleGold {
    border-radius: .75rem
  }

  p {
    font-size: 18px;
  }

  .mainReelVid {
    width: 90%;
  }
  .mobileColumn {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .mobileColumn > p {
    font-weight: bold;
  }


}

.bg-antique {
  background-color: rgba(255, 226, 193, 0.767);
}

/* video player */

